@charset 'utf-8';

/* ------------------------------ 
    Common Settings
------------------------------ */
html {
  line-height: 1.5;
  color: #014E59;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
html, body {
  height: 100%;
}
body, h1, h2, h3, h4, p, ul, dl, dd {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: top;
}
ul {
  list-style-type: none;
}
body::after {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: -10;
  background: linear-gradient(45deg, #D3EAF0, #FCCAB1, #31A3A3 80%);
}

/* ------------------------------ 
    Header
------------------------------ */
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
nav ul {
  display: flex;
  justify-content: center;
  width: 250px;
  margin: 0 0 0 auto;
  padding: 1% 0;
  font-size: .8em;
}
nav li {
  padding: 0 4%;
}
nav li + li {
  border-left: 1px solid #014E59;
}
nav a {
  position: relative;
  top: 0px;
  color: #014E59;
  text-decoration: none;
  transition: .3s;
}
nav a:hover {
  top: -1px;
  color: #FCCAB1;
}
.nav-toggle {
  display: none;
}

/* ------------------------------ 
    Main
------------------------------ */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  width: 250px;
  line-height: 1;
}
h1 + p {
  font-size: .7em;
  text-align: center;
  margin-top: 10px;
}

.container {
  margin: 0 8% 8%;
  padding: 5%;
  background-color: rgba(255, 255, 255, .7);
}
section {
  margin-bottom: 15%;
}
h2 {
  width: fit-content;
  margin: 0 auto 8%;
  font-weight: initial;
  font-size: 1.2em;
  border-bottom: 2px solid #31A3A3;
}

.works ul {
  display: flex;
  justify-content: space-around;
  gap: 8%;
}
.works li {
  position: relative;
  flex: 1;
  /* border: 2px solid #014E59; */
}
.works li:nth-child(odd) {
  box-shadow: 8px 8px #FCCAB1;
}
.works li:nth-child(even) {
  box-shadow: 8px 8px #8FCBD3;
}
.works li img {
  width: 100%;
}
.works li a,
.works .caption {
  transition: .3s;
}
.works li a:hover {
  opacity: .6;
}
.works .caption {
  position:absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  color: #014E59;
  background-color: #fff;
  font-size: .8em;
  text-align: center;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: .3s;
}
.works li:hover .caption {
  opacity: 1;
}

.about .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8%;
  width: 90%;
  margin: 0 auto;
}
.about .image {
  width: 150px;
}
.about .image img {
  border-radius: 50%;
  width: 100%;
}
.about .text {
  flex-basis: calc(100% - 150px);
}
.about .text h3 {
  font-size: .9em;
}
.about .text h4 {
  font-size: .6em;
  font-weight: initial;
  color: #31A3A3;
}
.about .text p {
  margin-top: 8px;
  font-size: .7em;
}
.about .text p:first-of-type {
  margin-top: 15px;
}

.contact .form {
  width: 80%;
  margin: 0 auto;
}
.contact dl {
  display: flex;
  flex-wrap: wrap;
}
.contact dt {
  width: 20%;
  padding-right: 10px;
  text-align: right;
  box-sizing: border-box;
}
.contact dd {
  width: 80%;
}
.contact dt,
.contact dd {
  margin-bottom: 10px;
}
.contact label {
  font-size: .8em;
}
.contact input[type="text"],
.contact textarea {
  width: 100%;
  border: 1px solid #014E59;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
}
.contact .btn {
  margin-top: 30px;
  text-align: center;
}
.contact .btn input {
  color: #014E59;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #014E59;
  padding: 10px 20px;
  cursor: pointer;
}

footer p {
  font-size: .8em;
  text-align: center;
}

/* ------------------------------ 
    レスポンシブ対応（スマホ）
------------------------------ */
@media screen and (max-width:600px) {

  .sp-menu {
    display: block;
    width: 100%;
    height: 60px;
  }
  .toggle {
    width: 30px;
    height: 100%;
    margin: 0 15px 0 auto;
  }
  .toggle span {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: #014E59;
  }
  .toggle span:first-child {
    top: 21px;
    transition: .2s;
  }
  .toggle span:last-child {
    top: 35px;
    transition: .2s;
  }
  nav {
    position: fixed;
    z-index: 15;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    opacity: 0;
    transform: translateX(100%);
    transition: .3s;
  }
  nav ul {
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    font-size: 1em;
  }
  nav li {
    padding: 0%;
  }
  nav li + li {
    border-left: none;
  }
  /* sp-menu open */
  .toggle.open span:first-child {
    top: 28px;
    transform: rotate(45deg);
  }
  .toggle.open span:last-child {
    top: 28px;
    transform: rotate(-45deg);
  }
  nav.show {
    opacity: .8;
    transform: translateX(0);
  }

  .container {
    margin: 16% 8%;
    padding: 10%;
  }
  section {
    margin-bottom: 60px;
  }

  .works ul {
    flex-direction: column;
    gap: 30px;
  }
  .works li {
    z-index: 0;
  }
  .works .caption {
    display: none;
  }

  .about .profile {
    flex-direction: column;
    gap: 15px;
    padding: 0;
  }
  .about .profile .image {
    width: 100px;
  }
  .about .profile h3,
  .about .profile h4 {
    text-align: center;
  }

  .contact dt,
  .contact dd {
    width: 100%;
  }
  .contact dt {
    text-align: left;
    margin-bottom: 0;
  }
  .contact .btn {
    margin-top: 10px;
  }
}