@charset 'utf-8';

/* ------------------------------ 
    Main
------------------------------ */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  width: 250px;
  line-height: 1;
}
h1 + p {
  font-size: .7em;
  text-align: center;
  margin-top: 10px;
}

.container {
  margin: 0 8%;
  padding: 5%;
  background-color: rgba(255, 255, 255, .7);
}
section + section {
  margin-top: 15%;
}
h2 {
  width: fit-content;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.4em;
  border-bottom: 2px solid #31A3A3;
}
h2 + h2 {
  margin: 5px auto 8%;
  font-size: .8em;
  font-weight: initial;
  color: #31A3A3;
  border: none;
}

.works ul {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap-reverse;
  gap: 4%;
}
.works li {
  position: relative;
  flex-basis: 48%;
  box-shadow: 8px 8px #dcdcdc;
}
.works li:not(:last-child) {
  margin-top: 4%;
}
.works li a {
  display: block;
  width: 100%;
}
.works li img {
  width: 100%;
  height: auto;
}
.works li a,
.works .caption {
  transition: .3s;
}
.works li a:hover {
  opacity: .6;
}
.works .caption {
  position:absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  color: #014E59;
  background-color: #fff;
  font-size: .8em;
  text-align: center;
  z-index: 10;
  pointer-events: none;
  opacity: 0;
  transition: .3s;
}
.works li:hover .caption {
  opacity: 1;
}

.about .profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8%;
  width: 90%;
  margin: 0 auto;
}
.about .image {
  width: 150px;
}
.about .image img {
  border-radius: 50%;
  width: 100%;
}
.about .text {
  flex-basis: calc(100% - 150px);
}
.about .text h3 {
  font-size: 1em;
  white-space: pre;
  padding-bottom: 20px;
}
.about .text h4 {
  font-size: .6em;
  font-weight: initial;
  color: #31A3A3;
}
.about .text p {
  margin-top: 8px;
  font-size: .8em;
}
.about .text p:first-of-type {
  margin-top: 15px;
}
.about .profile .text dl {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: .8em;
  line-height: 1.75;
}
.about .profile .text dl dt {
  width: 25%;
  font-weight: bold;
}
.about .profile .text dl dd {
  width: 75%;
}
.about .profile .text dl dt:not(:first-of-type),
.about .profile .text dl dd:not(:first-of-type) {
  padding-top: 16px;
}
.about .profile .text dl dd span {
  display: block;
  font-weight: bold;
  text-decoration: underline;
}
.about .profile .text dl dd span.skill-old {
  padding-top: 8px;
}

.contact .form {
  width: 80%;
  margin: 0 auto;
}
.contact dl {
  display: flex;
  flex-wrap: wrap;
}
.contact dt {
  width: 20%;
  padding-right: 10px;
  text-align: right;
  box-sizing: border-box;
}
.contact dd {
  width: 80%;
}
.contact dt,
.contact dd {
  margin-bottom: 10px;
}
.contact label {
  font-size: .8em;
}
.contact input[type="text"],
.contact textarea {
  width: 100%;
  border: 1px solid #014E59;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px;
}
.contact .btn {
  width: 120px;
  margin: 10px auto 0;
}
.contact .btn input {
  width: 100%;
  height: 100%;
  color: #014E59;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #014E59;
  padding: 10px 20px;
  text-align: center;
  cursor: pointer;
  transition: .3s;
  -webkit-appearance: none;
}
.contact .btn input:hover {
  color: #fff;
  background-color: #014E59;
}


/* ------------------------------ 
    レスポンシブ対応（スマホ）
------------------------------ */
@media screen and (max-width:600px) {
  .container {
    margin: 16% 8%;
    padding: 10%;
  }
  section + section {
    margin-top: 30%;
  }
  h2 + h2 {
    margin-bottom: 15%;
  }

  .works ul {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .works li:not(:last-child) {
    margin-top: 0;
  }
  .works .caption {
    display: none;
  }

  .about .profile {
    flex-direction: column;
    gap: 15px;
    padding: 0;
  }
  .about .profile .image {
    width: 100px;
  }
  .about .text h3,
  .about .text h4 {
    text-align: center;
  }
  .about .text h3 {
    margin-top: 20px;
  }
  .about .text p:first-of-type {
    margin-top: 30px;
  }

  .contact dt,
  .contact dd {
    width: 100%;
  }
  .contact dt {
    text-align: left;
    margin-bottom: 0;
  }
  .contact .btn {
    margin-top: 10px;
  }
}