@charset "utf-8";

html {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 94%;
  color: #080808;
  background-color: #e5e6e1;
  line-height: 1.5;
}
body, h1, h2, h3, p, ul, dl, dd {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: bottom;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

/* ------------------------------
    ヘッダー
------------------------------ */
h1 {
  position: absolute;
  left: 30px;
  z-index: 10;
  width: 20%;
}
h1 img {
  max-width: 100%;
  min-width: 120px;
}
header nav {
  height: 80px;
  margin-left: 28%;
  margin-right: 30px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header nav a {
  text-align: center;
}

header nav .en {
  color: #000;
  font-size: 1.2em;
}
header nav .ja {
  color: #1d4765;
  font-size: 0.6em;
}

/* ------------------------------
    ヒーローイメージ
------------------------------ */
#hero {
  aspect-ratio: 2/1;
}
#hero img {
  width: 100%;
}

/* ------------------------------
    メイン
------------------------------ */
section {
  margin-top: 100px;
}
h2 {
  text-align: center;
}

/* リード文 */
#lead .text {
  margin: 5% 10% 0;
  line-height: 2;
}
#lead .btn {
  text-align: center;
  margin-top: 65px;
  margin-bottom: 200px;
}

/* オーナー募集 */
#owner {
  background: url("../img/bg_owner.png") no-repeat center center;
  background-size: contain;
  aspect-ratio: 1200/684;
}
#owner .text {
  float: left;
  width: 58%;
  aspect-ratio: 5/3;
  overflow: auto;
}
#owner .text::-webkit-scrollbar {
  width: 10px;
}
#owner .text::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0);
}
#owner .text::-webkit-scrollbar-thumb {
  background: #e5e6e1;
  border-radius: 5px;
}
#owner h2 {
  margin: 0 auto;
  width: 40%;
}
#owner h2 img {
  width: 100%;
}
#owner h3,
#owner p {
  text-align: center;
  color: #1d4765;
  padding: 0 20px;
}
#owner h3 {
  text-shadow: 3px 3px 2px rgba(255, 255, 255, .6);
  margin-top: 30px;
}
#owner p {
  text-shadow: 2px 2px 2px rgba(255, 255, 255, .6);
  font-size: .8em;
  margin-top: 20px;
  line-height: 2;
}
#owner p:last-child {
  text-align: left;
}

/* NEWS */
#news h2 img {
  max-width: 128px;
}
#news .inner {
  display: flex;
  justify-content: space-between;
  margin: 65px 8% 0;
}
#news .item {
  width: 30%;
}
#news .item img {
  width: 100%;
}
#news dt {
  font-size: .7em;
  margin-top: 8px;
}
#news dd {
  font-size: .8em;
  margin-top: 4px;
}
#news a {
  color: #1d4765;
}
#news a:hover {
  text-decoration: underline;
}

/* gotop */
.gotop {
  margin: 150px 8% 0;
}
.gotop p {
  text-align: right;
}
.ball,
.cat {
  position: relative;
  margin: 0 0 0 auto;
}
.cat {
  transform: translateX(10px);
}
/* gotopマウスオーバー時のアニメーション */
.ball:hover {
  animation: ballmove 1s infinite;
}
@keyframes ballmove {
  0% {
    top: 0;
  }
  50% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}
.ball:hover + .cat {
  animation: catmove 1s infinite;
}
@keyframes catmove {
  0% {
    top: 0;
  }
  75% {
    top: 0;
  }
  90% {
    top: -20px;
  }
  100% {
    top: 0;
  }
}

/* ------------------------------
    フッター
------------------------------ */
footer {
  background-color: #1d4765;
  height: 360px;
}
footer p {
  text-align: center;
  color: #fff;
}
footer a {
  color: #fff;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
  margin: 0 16%;
}
.footer-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-right .menu {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  gap: 30px;
  font-size: .8em;
}
.footer-right .menu a {
  position: relative;
  top: 0;
  transition:top .3s;
}
.footer-right .menu a:hover {
  top: -3px;
}
.copyright {
  font-size: .6em;
}

/* ------------------------------ 
    レスポンシブ対応（スマホ）
------------------------------ */
@media screen and (max-width:600px) {

  h1 {
    left: 0;
  }
  h2 {
    margin: 0 5%;
  }
  h2 img {
    width: 100%;
  }

  header nav {
    margin-right: 20px;
  }

  section:first-child {
    margin-top: 50px;
  }

  #lead .btn {
    margin-bottom: 150px;
  }

  #news .inner {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  #news .item {
    width: 80%;
  }

  .gotop .ball {
    width: 40px;
  }
  .gotop .cat {
    width: 38px;
  }
  .gotop .ball img,
  .gotop .cat img {
    width: 100%;
  }
  .gotop .cat {
    transform: translateX(5px);
  }

  footer {
    height: 280px;
  }
  footer .container {
    margin: 0 10%;
    height: 250px;
  }
  .footer-left {
    width: 25%;
  }
  .footer-right {
    width: 65%;
  }
  .footer-right .menu {
    gap: 15px;
  }
  .footer-left img,
  .footer-right img {
    width: 100%;
  }
}