@charset "utf-8";
#want{
	min-height: 900px;
	max-height: auto;
}
.box {
    display: flex;
    gap: 15px;
}
.box
.box img {
    position: relative;
    overflow: hidden;
    vertical-align: middle;
}
.box .textbox {
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}
.box .title  {
    font-size: 20px;
}
.box .text  {
    font-size: 16px;
    margin-top: 15px;
}

@media screen and (max-width:520px){
  .box {
      width: 100%;
      vertical-align: auto;
      display: block;
  }
  .box .title {
      font-size: 16px;
  }
  .box .text {
      font-size: 12px;
  }
  .box .img {
      display: block;
      position: absolute;
  }

  #want{
    min-height: auto;
  }
}
